.advantages {
  width: 100%;
  min-height: 562px;
  background-image: $light-blue-to-white, url("../img/jpeg/background-advantages.jpg");
  background-size: cover;
  background-position: 20% 52%;
  background-color: $color-light-blue;

  @include retina {
    background-image: $light-blue-to-white, url("../img/jpeg/background-advantages@2x.jpg");
  }

  /*@include vp-1023 {}
  @include vp-767 {}*/
}

.advantages__wrapper {
  opacity: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 13px;
  padding-left: 30px;
  padding-top: 110px;
}

.advantages h2 {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: $Montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.advantages ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 40px;

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}

.advantages__item {
  min-height: 241px;
  padding: 30px;
  background-color: $color-white-grey;

  /*@include vp-1023 {
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding: 25px;
    padding-top: 30px;
    padding-right: 30px;
    min-height: 340px;
  }*/
}

.advantages h3 {
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  margin: 10px 0;

  /*@include vp-1023 {
    margin-bottom: 9px;
    line-height: 140%;
  }

  @include vp-767 {
  }*/
}

.advantages__desk {
  font-family: $Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  margin: 0;

  &--allinclusive {
    width: 95%;
  }

  /*@include vp-767 {
  }*/
}

.advantages__svg {
  @include vp-1023 {
    &--ship-front {
      width: 21px;
      height: 26px;
    }

    &--check-marks {
      width: 27px;
      height: 26px;
    }

    &--ship {
      width: 36px;
      height: 26px;
    }
  }

  /*@include vp-767 {
  }*/
}
