.btn {
  display: inline-flex;
  padding: 10px 20px;

  font-family: $Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  justify-content: center;

  background-color: $color-white-grey;
  border: none;
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
