.catalog__wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 85px 27px;
  padding-bottom: 120px;
  padding-left: 43px;

  @include vp-1023 {
    padding: 90px 60px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 57px 25px;
    padding-bottom: 65px;
  }
}

.catalog__title {
  margin: 0 auto;
  margin-bottom: 49px;
  width: 27%;

  font-family: $Montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    width: 44%;
    font-size: 26px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 30px;
  min-height: 386px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;
  width: auto;
  height: 386px;
  cursor: pointer;
  background-color: $color-dark-blue;
  overflow: hidden;
}

.catalog__item h3 {
  position: absolute;
  left: 12%;
  bottom: 22px;
  margin: 0;
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-grey;

  @include vp-1023 {
    left: 11%;
    bottom: 27px;
  }

  @include vp-767 {
    left: 9%;
    bottom: 17px;
  }
}

.catalog__info {
  position: absolute;
  min-height: 386px;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-dark-blue;
  padding: 26px;
  padding-top: 30px;
  display: none;

  @include vp-1023 {
    padding: 35px;
  }

  @include vp-767 {
    padding: 26px;
    padding-top: 30px;
  }
}

.catalog__item:hover .catalog__info {
  display: block;
}

.catalog__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  /*&--astoria {
    object-position: -167px 0;
  }

  &--atlantis-1 {
    object-position: -254px 0;
  }

  &--atlantis {
    object-position: -127px 0;
  }

  &--odysseus {
    width: 110%;
    height: 110%;
    object-position: -122px -3px;
  }

  &--olympia {
    width: 110%;
    height: 110%;
    object-position: -123px -5px;
  }

  &--aurora {
    object-position: -107px 0;
  }

  &--leonor {
    object-position: -146px 0;
  }

  &--minion {
    width: 140%;
    height: 140%;
    object-position: -186px -10px;
  }

  @include vp-1023 {
    &--astoria {
      object-position: -144px 0;
    }

    &--atlantis-1 {
      object-position: -205px 0;
    }

    &--atlantis {
      object-position: -103px 0;
    }

    &--odysseus {
      width: 120%;
      height: 120%;
      object-position: -114px -6px;
    }

    &--olympia {
      width: 115%;
      height: 115%;
      object-position: -140px 0;
    }

    &--aurora {
      object-position: -107px 0;
    }

    &--leonor {
      object-position: -125px 0;
    }

    &--minion {
      width: 140%;
      height: 140%;
      object-position: -186px -10px;
    }
  }*/
}

.catalog__info h4 {
  margin: 0;
  margin-bottom: 13px;
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-grey;
}

.catalog__inner-list {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  list-style-type: none;
  min-height: 235px;
}

.catalog__inner-item {
  font-family: $Montserrat;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 13px;
}

.catalog__inner-item h5 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: $color-white-grey;
}

.catalog__inner-item p {
  margin: 0;
  font-weight: 400;
  color: $color-white-grey;
}

.catalog__link-btn {
  display: flex;
  padding: 10px 20px;
  margin-top: auto;

  font-family: $Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  justify-content: center;

  background-color: $color-white-grey;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

