.catalog__wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 85px 27px;
  padding-bottom: 120px;
  padding-left: 43px;

  @include vp-1023 {
    padding: 90px 60px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 57px 25px;
    padding-bottom: 65px;
  }
}

.catalog__title {
  margin: 0 auto;
  margin-bottom: 49px;
  width: 27%;

  font-family: $Montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    width: 44%;
    font-size: 26px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 30px;
  min-height: 386px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;
  width: auto;
  height: 386px;
  cursor: pointer;
  background-color: $color-dark-blue;
  overflow: hidden;
}

.catalog__item h3 {
  position: absolute;
  left: 8%;
  bottom: 13px;
  padding: 10px;
  margin: 0;
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-grey;

  @include vp-1023 {
    bottom: 18px;
  }

  @include vp-767 {
    left: 5%;
    bottom: 8px;
  }
}

.catalog__info {
  position: absolute;
  min-height: 386px;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-dark-blue;
  padding: 26px;
  padding-top: 30px;
  display: none;

  @include vp-1023 {
    padding: 35px;
  }

  @include vp-767 {
    padding: 26px;
    padding-top: 30px;
  }
}

.catalog__item:hover .catalog__info {
  display: block;
  overflow: auto;
  height: 100%;
}

.catalog__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  &--astoria {
    object-position: center center;
  }

  &--atlantis-1 {
    object-position: center center;
  }

  &--atlantis {
    object-position: center center;
  }

  &--odysseus {
    width: 110%;
    height: 110%;
    object-position: center bottom;
  }

  &--olympia {
    width: 110%;
    height: 110%;
    object-position: center bottom;
  }

  &--aurora {
    object-position: center center;
  }

  &--leonor {
    object-position: center center;
  }

  &--minion {
    width: 140%;
    height: 140%;
    object-position: center bottom;
  }
}

.catalog__info h4 {
  margin: 0;
  margin-bottom: 13px;
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-grey;
}

.catalog__inner-list {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  list-style-type: none;
  min-height: 235px;
}

.catalog__inner-item {
  font-family: $Montserrat;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 13px;
}

.catalog__inner-item h5 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: $color-white-grey;
}

.catalog__inner-item p {
  margin: 0;
  font-weight: 400;
  color: $color-white-grey;
}

.catalog__link-btn {
  margin-top: auto;
}

