.page-header {
  position: relative;
  width: 100%;
  min-height: 650px;
  background-color: $color-dark-blue;
  background-image: url("../img/jpeg/background-header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include retina {
    background-image: url("../img/jpeg/background-header@2x.jpg");
  }

  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.page-header__wrapper {
  @include vp-767 {
    padding: 0 14px;
  }
}

.page-header__title {
  max-width: 1240px;
  padding: 20px;
  padding-top: 156px;
  padding-left: 144px;
  margin: 0 auto;

  @include vp-1023 {
    width: 100%;
    padding-top: 180px;
    padding-left: 45px;
  }

  @include vp-767 {
    padding-top: 111px;
    padding-left: unset;
    padding-bottom: 176px;
  }
}

.page-header__title h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-white-grey;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.page-header__title p {
  margin: 0;
  font-family: $Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-white-grey;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 75%;
    font-size: 16px;
    line-height: 140%;
  }
}
